@import "tailwindcss";

@theme {
    --color-bg-light: white;
    --color-bg-dark: rgb(17 24 39);
    /* gray-900 */
    --color-text-light: black;
    --color-text-dark: white;
}

:root {
    color-scheme: light dark;
}

/* Manual dark theme using class */
.dark {
    --color-bg-light: rgb(17 24 39);
    --color-text-light: white;
}

body {
    background-color: var(--color-bg-light);
    color: var(--color-text-light);
    transition: background-color 0.3s, color 0.3s;
}